.challenge-1, .challenge-2, .challenge-3, .challenge-4, .challenge-5 {
  width: 75%;
  border: 1px solid black;
  text-align: center;
  margin: 0 auto;
}

h2 {
  margin: 15px;
}

.flex-box-container, .flex-blackjack-row-1, .flex-blackjack-row-3 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  border: 1px solid black;

}

.challenge-1 div {
  padding: 10px;
  border: 1px solid black;
}


#flex-box-result {
  border: 1px solid black;
  padding: 10px;
}

.challenge-2 img {
  margin: 10px;
  box-shadow: 0px 10px  30px rgba(0, 0, 0, 0.7);
}

.challenge-3 img {
  max-width: 150px;
  margin: 10px;
}

.challenge-3 img:hover {
  box-shadow: 0px 10px  30px rgba(37, 50, 233, 0.7);
}
.flex-blackjack-row-2 {
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  border: 1px solid black;
  background: url('images/blackjackImage.jpg');
}

.flex-blackjack-row-1 {
  background: url('images/blackjackImage.jpg');
  color: #fff;
}

.flex-blackjack-row-1 div{
  border: 1px solid black;
  padding: 10px;
  flex: 1;
  text-align: center;
  height: 350px;
}

.flex-blackjack-row-1 img {
  width: 25%;
  padding: 10px;
}

.flex-blackjack-row-2 button {
  border: 1px solid black;
  padding: 10px;
}

.flex-blackjack-row-2 div {
  border: 1px solid black;
  padding: 10px;
}

table, th, td {
  border: 1px solid black;
  padding: 5px;
}
